header
{
	background-color: orange;
	margin: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: right;
}

.cadre
{
	display: inline;
}

#menu
{
	text-align: center;
}

#panier
{
	  margin-right: 87.5%;
}

#titre
{
	text-align: center;
	font-family: "Script";
}